<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>page_list</title>
    <style type="text/css">
        table{
            margin: 50px auto;
            font-size: 24px;
        }
        table tr{
            width: 200px;
            height: 100px;
        }
        table tr img{
            height: 80px;
        }

    </style>

</head>
<body>
    <table>
        <caption>The most popular articles</caption>
        {% for art in articles %}
            <tr>

                <td><a href="/page/{{ art.id }}/"><img src="/static/{{ art.image }}" alt=""></a></td>
                <td><a href="/page/{{ art.id }}/">{{ art.title }}</a></td>
                <td>{{ art.author }}</td>
                <td>{{ art.public_time }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>